.media {
    grid-area: media;
    margin-bottom: 30px;
    font-size: 18px;
    padding-top: 20px;
    border-top: 2px solid $colorBordef;

    .TabsUnstyled-root {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        h3 {
            @extend %h3-desktop;
            margin-right: 50px;
            border-bottom: 3px solid transparent;
        
            @media (max-width: 650px) {
                margin: 0 20px 0 0;
            }
        }

        .TabsListUnstyled-root {
            flex-grow: 1;

            .TabUnstyled-root {
                border: none;
                background: transparent;
                padding: 0;
                margin-right: 30px;
                cursor: pointer;
                border-bottom: 3px solid transparent;
                color: inherit;

                &:last-of-type {
                    margin-right: 0;
                }

                &.Mui-selected {
                    border-color: #000;
                }

                @media (max-width: 650px) {
                    margin-right: 15px;
                    border-width: 1px;
                }
            }
        }

        .content {
            margin-top: 20px;
            width: 100%;

            @media (max-width: 1024px) {
                width: auto;
                margin: 5px -20px 0 -20px;
                width: calc(100% + 40px);
            }

            .TabPanelUnstyled-root {
                height: 330px;
                padding-bottom: 15px;
                overflow-x: auto;

                &.TabPanelUnstyled-hidden {
                    height: 0;
                    padding-bottom: 0;
                }
            }
        }

        .showAll {
            margin: 0 30px 0 auto;
            border-bottom: 3px solid transparent;
            color: $colorBlue;
            font-size: 14px;

            .showAll_link {
                color: inherit;
            }

            @media (max-width: 1024px) {
                width: 100%;
            }
    
            @media (max-width: 650px) {
                margin: 5px 0 0;
                font-size: 12px;
            }
        }
    }

    .posters,
    .backdrops,
    .video {
        display: flex;
        
        div {
            flex-shrink: 0;
        }

        img {
            display: block;
            height: 100%;
        }
    }

    .video {
        div {
            width: 450px;
            position: relative;
            cursor: pointer;

            @media(max-width: 450px) {
                width: 100vw;
            }

            &:hover::after {
                background-color: rgba(0, 0, 0, 0.8);
            }

            &::after {
                content: '';
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.6);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &::before {
                content: '';
                border-width: 1.5em 0 1.5em 2em;
                border-style: solid;
                border-color: transparent transparent transparent rgb(255, 255, 255);
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}