.season_single_section {
    grid-area: season_single_section;
    margin-bottom: 30px;
    padding-top: 20px;
    border-top: 2px solid $colorBordef;

    h3 {
        @extend %h3-desktop;
        line-height: 0.5;
        margin-top: 10px;
    }

    .status {
        font-size: 12px;
    }

    .showAll {
        display: inline-block;
        color: $colorBlue;
        font-size: 14px;

        @media(max-width: 600px) {
            font-size: 12px;
        }

        &:hover {
            opacity: 0.85;

            span {
                transform: rotate(135deg);
                transition: transform 0.1s ease-in;
                margin-bottom: 1px;
            }
        }

        span {
            display: inline-block;
            border-top: solid 2px;
            border-left: solid 2px;
            border-color: $colorBlue;
            transform: rotate(225deg);
            transition: transform 0.1s ease-in;
            height: 8px;
            width: 8px;
            margin-left: 5px;
            margin-bottom: 2px;
        }
    }

    .season_single_section_body {
        margin-top: 15px;
        display: flex;
        border-radius: 8px;
        overflow: hidden;
        align-items: center;
        @extend %main-box-shadow;
    }

    .poster {
        flex-shrink: 0;
        width: 150px;
        background: #7b7b7b;

        @media(max-width: 600px) {
            display: none;
        }

        img {
            display: block;
        }
    }

    .content {
        padding: 20px;
    }

    .content_head {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        a {
            font-weight: 700;
            color: inherit;
            font-size: 24px;

            &:hover {
                opacity: 0.85;
            }
        }
    }

    .content_body {
        font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}