.loader {
    position: fixed;
    bottom: 100px;
    right: 40px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px dashed #000;
    animation: rotate 1s infinite linear;
    margin: 0 auto;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }

    to {
        transform: rotate(360deg) scale(1.3);
    }
}