.registerPage,
.loginPage,
.ressetPasswordPage {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .head {
        max-width: 700px;
        width: 100%;
        margin-bottom: 5px;
        
        h1 {
            font-weight: 700;
            font-size: 28px;
        }

        >p {
            margin-top: 0;
        }
    }

    .links {
        display: flex;
        gap: 20px;
        color: $colorBlue;

        a {
            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }

    }
    
    form {
        margin-bottom: 15px;
    }
}