.cast_crew_banner {
    background-color: $mainColor;
    padding: 20px 0;
    margin-bottom: 30px;

    .movie_preview,
    .tvPreview {
        color: #e1e1e1;
        display: flex;
        align-items: center;

        img {
            border-radius: 5px;
            display: block;
            width: 58px;
            height: 87px;
            background-color: #454545;
        }

        .title_date {
            padding-left: 20px;

            a {
                display: block;
                color: inherit;
                font-size: 28px;
                font-weight: 700;

                @media(max-width: 600px) {
                    font-size: 22px;
                }
            }
        }
    }
}

// .blackBg {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     width: 100vw;
//     height: 80vh;
//     background-color: black;
// }

.cast_crew_list {
    display: flex;

    @media(max-width: 600px) {
        display: block;
    }

    .cast_list,
    .crew_list {
        width: 50%;

        @media(max-width: 600px) {
            width: 100%;
        }

        h2 {
            font-weight: 700;
            font-size: 22px;
            margin-bottom: 20px;
        }
    }

    .personPreview {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        p {
            margin: 0;
        }

        a {
            color: inherit;

            &:hover {
                opacity: 0.85;
            }
        }

        h5 {
            font-weight: 700;
        }

        img {
            height: 66px;
            width: 66px;
            display: block;
            background: #454545;;
        }

        .photo {
            border-radius: 5px;
            overflow: hidden;
            flex-shrink: 0;
        }

        .name {
            margin: 5px 20px;
        }
    }
}