.banner_bg_home_page {
    background-color: rgba(6, 17, 26, 0.808);
    min-height: 300px;
    height: calc(100vh / 2.5);
    max-height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -30px;
    margin-bottom: 20px;
}

.banner_home_page {
    padding: 30px 20px;
    color: #fff;
    //width: 90%;

    h1 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 45px;
        font-style: italic;

        @media(max-width: 550px) {
            font-size: 24px;
            margin-bottom: 30px;
        }
    }

    .block_for_search {
        display: flex;
        width: 100%;
        padding: 10px 20px 10px 10px;
        border-radius: 120px;
        background-color: #fff;
    }

    .button_search {
        padding: 0;
        width: 38px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        svg {
            color: #000;
        }
    }

    input {
        border: none;
        outline: none;
        width: 100%;
    }
}

.TabsUnstyled-root {

    .TabsListUnstyled-root {
        border-radius: 30px;
        border: 1px groove #032541;
        display: inline-block;
        overflow: hidden;

        .TabUnstyled-root{
            font-weight: 700;
            border: none;
            border-radius: 30px;
            margin-right: 5px;
            padding: 4px 20px;
            background-color: transparent;
            color: #032541;
            cursor: pointer;
            outline: none;

            @media(max-width: 550px) {
                padding: 2px 15px;
            }

            &:last-of-type {
                margin-right: 0;
            }

            &.Mui-selected {
                color: #41deb1;
                background-color: #032541
            }
        }
    }

    .TabPanelUnstyled-root {
        position: relative;
        //background: linear-gradient( to right, rgba(6, 17, 26, 0.8) 0%, rgba(6, 17, 26, 0.8) 100%);

        &::after {
            content: '';
            width: 40px;
            height: 100%;
            position: absolute;
            top: 0;
            right: -3px;
            background-image: linear-gradient(to right, rgba(255,255,255,0), $mainBgColor);
        }
    }
}

.popular_home_page {
    line-height: 1.2;
    padding-top: 20px;

    h3 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .list_movies,
    .list_tvShow {
        display: flex;
        overflow-x: auto;
        min-height: 340px;

        .movie_preview,
        .tvPreview {
            flex-shrink: 0;
            margin-right: 15px;
            width: 150px;
            border-radius: 12px;
            overflow: hidden;
        }

        img {
            display: block;
            border-radius: 12px;
            min-height: 225px;
        }

        .title_date {
            padding: 5px;
            word-wrap: break-word;
            
            a {
                display: inline-block;
                margin-bottom: 5px;
                color: #000;
                font-weight: 700;

                &:hover {
                    opacity: 0.85;
                }
            }
        }

        time {
            display: block;
            font-size: 14px;
            font-style: italic;
            color: #6e6e6e;
        }
    }
}