.MediaImagesPageInfo,
.MediaVideosPageInfo {
    .resultPanel {
        li {
            cursor: pointer;
        }
    }
    .images_result,
    .videos_result {
        display: flex;
    }

    .images_list {
        width: 100%;
        display: grid;
        grid-gap: 20px;
        // justify-content: center;

        @media(max-width: 700px) {
            justify-content: center;
        }

        .imagesPreview {
            border-radius: 12px;
            overflow: hidden;
            border: 1px solid rgb(189, 189, 189);
            @extend %main-box-shadow;

            .poster {
                a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                }
            }

            img {
                display: inline-block;
                width: 100%;
                height: 100%;
            }

            .info {
                padding: 10px;

                a {
                    color: inherit;
                    font-weight: 700;
                    &:hover {
                        text-decoration: underline;
                    }
                }

                p {
                    margin: 10px 0 0;
                }
            }
        }

        &.posters {
            grid-template-columns: repeat(auto-fit, 220px);
            grid-auto-rows: max-content;

            .poster {
                --discoverColumnPadding: 20px;
                --numberOfDiscoverColumns: 4;
                width: 100%;
                height: calc((100vw - (var(--discoverColumnPadding) * var(--numberOfDiscoverColumns))) / var(--numberOfDiscoverColumns) * 1);
                max-height: 330px;

                @media(max-width: 1250px) {
                    --numberOfDiscoverColumns: 3
                }

                @media(max-width: 900px) {
                    --numberOfDiscoverColumns: 2
                }

                @media(max-width: 700px) {
                    height: 330px;
                }
            }
        }

        &.backdrops {
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            grid-auto-rows: max-content;

            @media(max-width: 900px) {
                display: block;
                width: 100%;
            }
            
            .imagesPreview {
                max-width: 500px;

                @media(max-width: 900px) {
                    margin: 0 auto 20px;
                }
            }

            .poster { 
                --discoverColumnPadding: 20px;
                --numberOfDiscoverColumns: 3;
                --multiplier: 1.5;
                width: 100%;
                height: calc((100vw - (var(--discoverColumnPadding) * var(--numberOfDiscoverColumns))) / var(--numberOfDiscoverColumns) * var(--multiplier));
                max-height: 200px;

                @media(max-width: 1250px) {
                    --numberOfDiscoverColumns: 6;
                }

                @media(max-width: 900px) {
                    --numberOfDiscoverColumns: 1
                }

                @media(max-width: 850px) {
                    --multiplier: 0.5
                }
            }
        }
    }
}

.MediaVideosPageInfo {
    .videos_list {
        width: 100%;
    }

    .videoPreview {
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        border: 1px solid #d9d9d9;
        border-radius: 12px;
        overflow: hidden;
        @extend %main-box-shadow;

        @media(max-width: 900px) {
            display: block;
            max-width: 350px;
            margin: 0 auto 20px;
        }

        .poster {
            width: 350px;
            height: 200px;
            position: relative;
            cursor: pointer;
            flex-shrink: 0;

            &:hover::after {
                background-color: rgba(0, 0, 0, 0.9);
            }

            &::after {
                content: '';
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.75);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &::before {
                content: '';
                border-width: 1.3em 0 1.3em 1.7em;
                border-style: solid;
                border-color: transparent transparent transparent rgb(255, 255, 255);
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .info {
            padding: 20px;

            h3 {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 5px;
            }

            a {
                color: inherit;

                &:hover {
                    color: $colorBlue;
                }
            }
        }
    }
}