.movie_info_bg {
    margin-bottom: 20px;
}

.movie_info {
    display: grid;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    grid-template-columns: 360px 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
        "mainPoster info info"
        "mainPoster discriptions discriptions";

    @media (max-width: 900px) {
        grid-template-columns: 310px 1fr 1fr;
        grid-template-areas:
            "mainPoster info info"
            "discriptions discriptions discriptions" ;
    }

    @media (max-width: 600px) {
        display: block;
    }

    .mainPoster {
        grid-area: mainPoster;

        @media (max-width: 600px) {
            margin-bottom: 20px;
        }

        img {
            display: block;
            border-radius: 15px;
            width: 350px;
            height: 500px;

            @media (max-width: 900px) {
                width: 300px;
                height: 400px;
            }

            @media (max-width: 600px) {
                margin: 0 auto;
            }

            @media (max-width: 376px) {
                width: 250px;
                height: 350px;
            }
        }
    }

    a {
        color: inherit;

        &:hover {
            opacity: 0.8;
        }
    }

    .info {
        grid-area: info;
        padding-left: 20px;
        margin-bottom: 20px;

        @media (max-width: 600px) {
            text-align: center;
        }

        h1 {
            font-size: 32px;
            font-weight: 700;

            @media (max-width: 900px) {
                font-size: 28px;
            }

            @media (max-width: 600px) {
                font-size: 24px;
            }
        }

        .original_title {
            display: block;
            margin-bottom: 5px;
        }
    }

    .vote {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .date_genres {
        margin-bottom: 10px;

        time {
            display: block;
            margin-bottom: 5px;
        }

        .list_genres {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 5px;

            @media (max-width: 600px) {
                justify-content: center;
            }

            li {
                margin-right: 10px;
                &:first-of-type {
                    margin-right: 5px;
                }
            }
        }
    }

    .budget {
        p {
            margin: 0 0 5px 0;
        }
    }

    .discriptions {
        grid-area: discriptions;
        padding-left: 20px;
        font-size: 18px;

        @media (max-width: 900px) {
            margin-top: 20px;
            padding: 0;
        }

        @media (max-width: 600px) {
            font-size: 14px;
        }

        .tagline {
            display: block;
            margin-bottom: 20px;
            opacity: 0.7;
            font-size: 18px;

            @media (max-width: 900px) {
                text-align: center;
            }
        }

        h4 {
            font-size: 26px;
            margin-bottom: 8px;

            @media (max-width: 600px) {
                font-size: 20px;
            }
        }

        p {
            margin: 0;
        }
    }

    .imdb_tmdb {
        display: flex;
        align-items: baseline;

        h4 {
            font-size: 20px;
            margin-right: 10px;
        }

        a {
            margin-right: 10px;
        }
    }
}

.gridConteiner{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-auto-rows: auto;
    gap: 0px 0px; 
    grid-template-areas: 
      "cast cast reviewsCOnteiner"
      "media media reviewsCOnteiner" 
      "collections collections reviewsCOnteiner"
      "similarMovies similarMovies reviewsCOnteiner";

      @media (max-width: 1024px) {
        display: flex;
        flex-direction: column;
      }
}

.cast {
    margin-bottom: 30px;
    grid-area: cast;

    h3 {
        @extend %h3-desktop;
        margin-bottom: 20px;
    }

    .showAll {
        display: inline-block;
        color: $colorBlue;
        font-size: 14px;

        &:hover {
            opacity: 0.85;

            span {
                transform: rotate(135deg);
                transition: transform 0.1s ease-in;
                margin-bottom: 1px;
            }
        }

        span {
            display: inline-block;
            border-top: solid 2px;
            border-left: solid 2px;
            border-color: $colorBlue;
            transform: rotate(225deg);
            transition: transform 0.1s ease-in;
            height: 8px;
            width: 8px;
            margin-left: 5px;
            margin-bottom: 2px;
        }
    }

    .castList {
        display: flex;
        overflow-x: auto;
        padding: 0 5px 25px;
    }

    .personPreview {
        width: 138px;
        flex-shrink: 0;
        margin-right: 20px;
        padding-bottom: 5px;
        border-radius: 10px;
        overflow: hidden;
        @extend %main-box-shadow;
    }

    .photo {
        background-color: rgb(128, 128, 128);

        img {
            display: block;
            width: 138px;
            height: 175px;
        }
    }

    .name {
        padding: 5px 5px 0;

        h5 {
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 5px;

            a {
                color: inherit;

                &:hover {
                    opacity: 0.85;
                }
            }
        }

        p {
            margin: 0;
            font-size: 0.9em;
        }
    }
}

.media {
    grid-area: media;
    margin-bottom: 30px;
    font-size: 18px;
    padding-top: 20px;
    border-top: 2px solid $colorBordef;

    .showAll {
        margin: 0 30px 0 auto;
        border-bottom: 3px solid transparent;
        color: $colorBlue;
        font-size: 14px;

        @media (max-width: 650px) {
            margin: 0;
            font-size: 12px;
        }
    }

    .media_nav {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        @media (max-width: 650px) {
            display: block;
            font-size: 14px;
        }

        h3 {
            @extend %h3-desktop;
            margin-right: 50px;
            border-bottom: 3px solid transparent;

            @media (max-width: 650px) {
                margin-bottom: 5px;
            }
        }
    }

    .media_nav_list {
        display: flex;
        list-style: none;

        @media (max-width: 650px) {
            margin-bottom: 5px;
        }
        
        li {
            margin-right: 30px;
            cursor: pointer;
            border-bottom: 3px solid transparent;

            &:last-of-type {
                margin-right: 0;
            }

            &.active {
                border-color:  #000;
            }

            @media (max-width: 650px) {
                margin-right: 15px;
                border-bottom: 2px solid transparent;
            }
        }
    }

    .content {
        @media (max-width: 650px) {
            margin: 0 -20px 0 -20px;
        }
    }

    .posters,
    .backdrops,
    .video {
        display: none;
        overflow-x: scroll;
        padding-bottom: 15px;
        
        div {
            flex-shrink: 0;
        }

        img {
            display: block;
            height: 330px;
        }
    }

    .video {
        div {
            width: 450px;
            height: 330px;
            position: relative;
            cursor: pointer;

            &:hover::after {
                background-color: rgba(0, 0, 0, 0.8);
            }

            &::after {
                content: '';
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.6);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &::before {
                content: '';
                border-width: 1.5em 0 1.5em 2em;
                border-style: solid;
                border-color: transparent transparent transparent rgb(255, 255, 255);
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .posters.active,
    .backdrops.active,
    .video.active {
        display: flex;

        a {
            width: 100%;
        }
    }
}

.reviewsCOnteiner {
    grid-area: reviewsCOnteiner;
    margin-left: 20px;
    padding: 20px 10px;
    position: relative;
    border: none;

    @media (max-width: 1024px) {
        margin: 0 0 10px;
        padding: 20px 0;
        border-top: 2px solid $colorBordef;
    }

    &::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 95%;
        top: 15px;
        left: 0;
        -webkit-box-shadow: -44px 10px 48px 13px #e9fffc;
        -moz-box-shadow: -44px 10px 48px 13px #e9fffc;
        box-shadow: -44px 10px 48px 13px #e9fffc;

        @media (max-width: 1024px) {
            display: none;
        }
    }

    h3 {
        @extend %h3-desktop;
        margin-bottom: 20px;
    }
}

.reviewPreview {
    padding: 10px;
    margin-bottom: 20px;
    @extend %main-box-shadow;
    
    .info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .photo {
            border-radius: 50%;
            width: 64px;
            height: 64px;
            overflow: hidden;
            background-color: rgb(0, 195, 255);
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 45px;
            

            a {
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;
                text-align: center;
                color: #fff;
            }            
        }

        img {
            display: block;
        }

        .name_and_date {

            a {
                color: inherit;
                font-size: 17px;
                font-weight: 700;

                &:hover {
                    opacity: 0.8;
                }
            }

            span {
                font-size: 14px;
            }
        }
    }

    .content {
        a {
            color: inherit;
            text-decoration: underline;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.collections {
    grid-area: collections;
    color: #fff;
    margin-bottom: 30px;
    border-top: 2px solid $colorBordef;
    padding-top: 20px;

    @media (max-width: 650px) {
        margin: 0 -20px 30px -20px ;
    }

    .collections_poster {
        padding: 50px 20px;
        border-radius: 12px;
        min-height: 195px;
        max-height: 240px;

        @media (max-width: 650px) {
            border-radius: 0;
        }

        h2 {
            font-size: 32px;
            margin-bottom: 10px;

            @media (max-width: 650px) {
                font-size: 24px;
            }
        }

        a {
            display: block;
            width: 200px;
            padding: 10px 5px;
            border-radius: 12px;
            color: inherit;
            border: none;
            background-color: #0062ff42;
            text-align: center;
            font-weight: 500;
            cursor: pointer;

            &:hover {
                background-color: #0062ff9f;
            }

            @media (max-width: 650px) {
                
            }
        }
    }
}

.movieIdPageInfo {
    .similarMovies {
        grid-area: similarMovies;
        border-top: 2px solid $colorBordef;
        padding-top: 20px;

        h3 {
            @extend %h3-desktop;
            margin-bottom: 20px;
        }

        .listMovies {
            display: flex;
            overflow-x: auto;
        }

        .movie_preview {
            width: 250px;
            flex-shrink: 0;
            margin-right: 20px;
            padding-bottom: 10px;

            a {
                color: inherit;
                font-size: 17px;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow-y: hidden;
            }

            .title_date {
                position: relative;
                padding: 5px 0;
            }

            time {
                position: absolute;
                left: 0;
                bottom: 100%;
                text-align: center;
                padding: 5px;
                width: 100%;
                background-color: rgba(219, 219, 219, 0.9);
                display: none;
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;
                pointer-events: none;
            }
        }
        
        .poster {

            img {
                display: block;
                border-radius: 12px;
            }

            &:hover ~ .title_date time {
                display: block;
            }
        }
    }
}