.reviewsPageInfo {
    .reviews_result {
        display: flex;
        flex-wrap: wrap;

        @media(max-width: 900px) {
            display: block;
        }
    }

    .writeReviews {
        width: 200px;
        flex-shrink: 0;
        margin-right: 10px;

        @media(max-width: 900px) {
            width: 100%;
            margin: 0 0 20px;
        }
    }

    .list_reviews {
        width: calc(100% - 210px);

        @media(max-width: 900px) {
            width: 100%;
        }
    }

    .MuiPagination-root {
        width: 100%;

        .MuiPagination-ul  {
            justify-content: center;
        }
    }
}