.searchMainCOnteiner {
    padding-top: 20px;
}

.searchResult {
    display: flex;
    align-items: flex-start;

    @media(max-width: 700px) {
        display: block;
    }

    .movie_preview,
    .tvPreview {
        display: flex;
        border-radius: 12px;
        overflow: hidden;
        @extend %main-box-shadow;
        margin-bottom: 20px;
        
        img {
            display: block;
            width: 94px;
            height: 141px;
        }

        .poster {
            flex-shrink: 0;
            background-color: #888888;
        }

        .title_date {
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            a {
                display: inline-block;
                color: inherit;
                margin-bottom: 5px;
                font-size: 18px;
                font-weight: 700;

                @media(max-width: 700px) {
                    font-size: 15px;
                }
    
                &:hover {
                    opacity: 0.8;
                }
            }
        }

        time {
            font-size: 14px;
            color: #757575;
            margin-bottom: 20px;

            @media(max-width: 700px) {
                font-size: 13px;
                margin-bottom: 5px;
            }
        }

        p {
            margin: 0;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow-y: hidden;

            @media(max-width: 700px) {
                font-size: 14px;
            }
        }
    }

    .personPreview {
        display: flex;
        border-radius: 12px;
        overflow: hidden;
        @extend %main-box-shadow;
        margin-bottom: 20px;

        img {
            display: block;
            width: 90px;
            height: 90px;
        }

        .photo {
            flex-shrink: 0;
            background-color: #888888;
        }

        .name {
            padding: 10px;
        }

        h5 {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 5px;

            @media(max-width: 700px) {
                font-size: 16px;
            }
        }

        a {
            color: inherit;
            &:hover {
                opacity: 0.8;
            }
        }

        .known_for {
            span {
                font-size: 17px;

                @media(max-width: 700px) {
                    font-size: 15px;
                }
            }

            a {
                position: relative;
                margin-right: 15px;
                font-size: 14px;

                @media(max-width: 700px) {
                    margin-right: 5px;
                }

                &:nth-last-of-type(n+2)::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: calc(100% + 5px);
                    transform: translateY(-50%);
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: black;

                    @media(max-width: 700px) {
                        content: ' ,';
                        position: relative;
                        top: initial;
                        left: initial;
                        transform: initial;
                        width: initial;
                        height: initial;
                        border-radius: initial;
                        background-color: initial;

                    }
                }
            }
        }
    }
}

.paginatePages {
    .MuiPagination-ul {
        justify-content: center;
    }
    
}