.tvShow_info_bg {
    margin-bottom: 20px;
}

.singleTvShowInfo{
    .gridConteiner{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-auto-rows: auto;
        gap: 0px 0px; 
        grid-template-areas: 
          "cast cast reviewsCOnteiner"
          "season_single_section season_single_section reviewsCOnteiner" 
          "media media reviewsCOnteiner"
          "recommendationsMovies recommendationsMovies reviewsCOnteiner";
    
          @media (max-width: 1024px) {
            display: flex;
            flex-direction: column;
          }
    }
}

.tvShow_info {
    color: #fff;
    display: grid;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;;
    grid-template-columns: 360px 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
        "mainPoster info"
        "mainPoster discriptions"
        "mainPoster created_by";

    @media (max-width: 900px) {
        grid-template-columns: 310px 1fr;
        grid-template-areas:
            "mainPoster info"
            "discriptions discriptions"
            "created_by created_by";
    }
    
    @media (max-width: 600px) {
        display: block;
    }

    .mainPoster {
        grid-area: mainPoster;

        @media (max-width: 600px) {
            margin-bottom: 20px;
        }

        img {
            display: block;
            border-radius: 15px;
            width: 350px;
            height: 450px;

            @media (max-width: 900px) {
                width: 300px;
                height: 400px;
            }

            @media (max-width: 600px) {
                margin: 0 auto;
            }

            @media (max-width: 376px) {
                width: 250px;
                height: 350px;
            }
        }
    }

    a {
        color: inherit;

        &:hover {
            opacity: 0.8;
        }
    }

    .info {
        grid-area: info;
        padding-left: 20px;
        margin-bottom: 20px;

        @media (max-width: 600px) {
            text-align: center;
        }

        h1 {
            font-size: 32px;
            font-weight: 700;

            @media (max-width: 900px) {
                font-size: 28px;
            }

            @media (max-width: 600px) {
                font-size: 24px;
            }
        }

        .original_title {
            display: block;
            margin-bottom: 5px;
        }
    }

    .vote {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .date_genres {
        margin-bottom: 10px;

        time {
            display: block;
            margin-bottom: 5px;
        }

        .list_genres {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 5px;

            @media (max-width: 600px) {
                justify-content: center;
            }

            li {
                margin-right: 10px;
                &:first-of-type {
                    margin-right: 5px;
                }
            }
        }
    }

    .discriptions {
        grid-area: discriptions;
        padding-left: 20px;
        font-size: 18px;
        margin-bottom: 20px;

        @media (max-width: 900px) {
            margin-top: 20px;
            padding: 0;
        }

        @media (max-width: 600px) {
            font-size: 14px;
        }

        .tagline {
            display: block;
            margin-bottom: 20px;
            opacity: 0.7;
            font-size: 18px;

            @media (max-width: 900px) {
                text-align: center;
            }
        }

        h4 {
            font-size: 26px;
            margin-bottom: 8px;

            @media (max-width: 600px) {
                font-size: 20px;
            }
        }

        p {
            margin: 0;
        }
    }

    .created_by {
        grid-area: created_by;
        display: flex;
        padding-left: 20px;

        @media (max-width: 900px) {
            padding: 0;
        }

        .creator {
            margin-right: 30px;

            h4 {
                font-weight: 700;
            }
        }
    }
}

.season_single_section {
    grid-area: season_single_section;
    margin-bottom: 30px;
    padding-top: 20px;
    border-top: 2px solid $colorBordef;

    h3 {
        @extend %h3-desktop;
        line-height: 0.5;
        margin-top: 10px;
    }

    .status {
        font-size: 12px;
    }

    .showAll {
        display: inline-block;
        color: $colorBlue;
        font-size: 14px;

        @media(max-width: 600px) {
            font-size: 12px;
        }

        &:hover {
            opacity: 0.85;

            span {
                transform: rotate(135deg);
                transition: transform 0.1s ease-in;
                margin-bottom: 1px;
            }
        }

        span {
            display: inline-block;
            border-top: solid 2px;
            border-left: solid 2px;
            border-color: $colorBlue;
            transform: rotate(225deg);
            transition: transform 0.1s ease-in;
            height: 8px;
            width: 8px;
            margin-left: 5px;
            margin-bottom: 2px;
        }
    }

    .seasonPreview {
        margin-top: 15px;
        display: flex;
        border-radius: 8px;
        overflow: hidden;
        align-items: center;
        @extend %main-box-shadow;
    }

    .poster {
        flex-shrink: 0;
        width: 150px;
        background: #7b7b7b;

        @media(max-width: 600px) {
            display: none;
        }

        img {
            display: block;
        }
    }

    .content {
        padding: 20px;
    }

    .content_head {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        a {
            font-weight: 700;
            color: inherit;
            font-size: 24px;

            &:hover {
                opacity: 0.85;
            }
        }
    }

    .content_body {
        font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}