$mainColor: rgb(3 25 49);
$mainBgColor: #e9fffc;
$colorBlue: #0066ff;
$colorBordef: rgb(163, 163, 163);
$hoverColor: rgb(227, 227, 227);

%main-box-shadow {
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}

%h3-desktop {
    font-size: 24px;
    font-weight: 700;

    @media(max-width: 600px) {
        font-size: 20px;
    }
}