@import '../../style/variable';

.form {
    max-width: 700px;
    width: 100%;

    label {
        margin-bottom: 10px;
        display: block;
    }

    input {
        display: block;
        margin-top: 5px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid $colorBordef;
        outline: none;
        padding: 6px 12px;

        &:focus {
            border-color: $colorBlue;
        }
    }

    button {
        --webkit-rigth-left-paddind: 10px;
        display: inline-block;
        width: calc(70px + var(--webkit-rigth-left-paddind));
        padding: 8px var(--webkit-rigth-left-paddind);
        font-size: 14px;
        margin: 0 10px 0 0;
        border-radius: 8px;
    }

    a {
        font-size: 14px;
        color: $colorBlue;
        padding: 8px 5px;

        &:hover {
            text-decoration: underline;
        }

        &:focus {
            outline: none;
            text-decoration: underline;
        }
    }

    .error {
        margin: 5px 0;
        color: red;
        font-size: 14px;

        p {
            margin: 0;
        }
    }
}